body{
  background-color: #295bf2;
}

.title1{
  text-align: center;
  padding-bottom: 15px;
  color: white;
}

h3{
  text-align: center;
  padding-bottom: 15px;
  color: white;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	background-color: #295bf2;
  text-align: center;
}
div.container {
	margin: 20px auto;
	width: 700px;
  text-align: center;
}
ul.column {
	float: left;
	padding-right: 50px;
	list-style: none;
	width: 975px;
}
ul.column li {
	background: #fff;
	float: left;
	margin: 25px 0 0 25px;
	display: block;
	text-align: center;
	width: 100px;
	padding:20px;
	border-radius: 2px 2px 2px 2px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


}
ul.column li.box14 {
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  text-align: center;
}

.image1{
  width: 450px;
  height: 315px;
  padding: 25px;
}
